<body bgcolor="339966">
<hr>
<%= form_for @student do |f| -%>
    First name: <%= f.text_field :firstname %><br />
    Last name : <%= f.text_field :lastname %><br />
    emailid: <%= f.text_field :emailid %><br />
    password: <%= f.text_field :password %><br />
    phoneno : <%= f.text_field :phoneno %><br />

    <%= f.submit %>
<% end -%>


</form>

